<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="xyz.eliothmonroy.testlibrary">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="n">
        <activity android:name=".presentation.ProcessActivity"/>
        <activity android:name=".presentation.TestActivity"/>
    </application>

</manifest>